<% layout("layout/boilerplate.ejs") %>

<div class="big--Container">
  <div class="inside--Container">
    <div class="about-card">
      <h2 class="name">ABHINAV KUMAR</h2>
      <div class="about-img">
        <img src="/images/logo.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 class="name">P.V. SEKHAR</h2>
      <div class="about-img">
        <img src="/images/logo.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 class="name">ROHIT DHANOTIA</h2>
      <div class="about-img">
        <img src="/images/logo.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 class="name">ISHAN PORWAL</h2>
      <div class="about-img">
        <img src="/images/logo.png" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ea repellendus
        tenetur qui porro est nesciunt ipsam soluta dolorum corrupti quidem
        esse, hic enim ex distinctio accusamus quasi repellat rerum cum.
      </p>
    </div>
  </div>
</div>
