<% layout("layout/boilerplate.ejs") %>

<div class="big--Container">
  <div class="inside--Container">
    <div class="about-card">
      <h2 style="color: white" class="name">ABHINAV KUMAR</h2>
      <div class="about-img">
        <img src="/images/abhinav2.jpeg" alt="" />
      </div>
      <p>
        I'm currently learning about Web Development and Competitve Programming.
        I love watching movies and anime. Learning all about Programming and
        Software Development. I'm mostly active within the Web Development and
        Competitve Programming Community. Ping me about anime, Web Development,
        Competitve Programming, or anything really.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 style="color: white" class="name">P.V. SEKHAR</h2>
      <div class="about-img">
        <img src="/images/pv.jpeg" alt="" />
      </div>
      <p>
        I'm currently learning about Web Development, AI/ML and Competitve
        Programming. The sports I like are Chess, Badminton, Cricket, etc. I
        like to watch sitcoms, anime and moives. I'm mostly active within the
        AI/ML, Web Development and Competitve Programming Community. Ping me
        about AI/ML, Web Development, Competitve Programming, or anything
        really.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 style="color: white" class="name">ROHIT DHANOTIA</h2>
      <div class="about-img">
        <img src="/images/rohit.jpeg" alt="" />
      </div>
      <p>
        I'm currently learning about Web Development and Graphic Designing. I
        love creating digital artwoks, designs, playing keyboard and watching
        movies. I'm mostly active within the Web Development Community. Ping me
        about Web Development, creative desiging or anything really.
      </p>
    </div>
  </div>
  <div class="inside--Container">
    <div class="about-card">
      <h2 style="color: white" class="name">ISHAN PORWAL</h2>
      <div class="about-img">
        <img src="/images/ishan2.jpeg" alt="" />
      </div>
      <p>
        I am currently learning about web developement and competitive
        programming. I love Watching movies, reading novels , playing badminton,
        table tennis and many other things. Currently i am focusing on web
        development.
      </p>
    </div>
  </div>
</div>
