<% layout('layout/boilerplate.ejs') %>
<div class="container">
  <div style="height: 100vh; color: white">
    <div class="row" style="margin-bottom: 40px">
      <div class="container baap">
        <div class="insideContainer">
          <form
            class="needs-validation"
            action="/login"
            method="post"
            novalidate
          >
            <div class="container whitebox">
              <div class="border-login">
                <img
                  src="/images/white.png"
                  class="whitebg"
                  alt=""
                  width="400px"
                  height="450px"
                />
              </div>

              <div class="bada">
                <h1 class="text-center head">LOGIN</h1>
                <div class="mb-3 inputs" style="text-align: left">
                  <label class="form-label auth" for="username">USERNAME</label
                  ><br />
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Username"
                    style="color: rgb(255, 255, 255)"
                    required
                  /><br />
                  <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="mb-3 inputs" style="text-align: left">
                  <label
                    for="password"
                    class="form-label auth"
                    style="text-align: left"
                    >PASSWORD</label
                  ><br />
                  <input
                    type=" text"
                    name="password"
                    id="password"
                    placeholder="Password"
                    style="color: rgb(255, 255, 255)"
                    required
                  /><br />
                  <div class="valid-feedback">Looks good!</div>
                  <button class="button" type="submit">SUBMIT</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
