<% layout("layout/boilerplate.ejs") %>

<div>
  <h1 class="leader">LEADER<span class="flower">BOARD</span> </h1>
  <h1 class="game-heading"> TIC TAC TOE</h1>

  <div class="lead-card">
    <div class="inner-lead-card">
      <div class="colu-1">
        <div class="attributes">RANK</div>
        <% leaderboardUsers.forEach((user, i)=>{%>
        <div class="row-val"><%= i+1 %></div>
        <% }) %>
      </div>
      <div class="colu-1">
        <div class="attributes">USERNAME</div>
        <% for(let user of leaderboardUsers){ %>
        <div class="row-val"><%= user.username %></div>
        <% } %>
      </div>
      <div class="colu-1">
        <div class="attributes">COINS</div>
        <% for(let user of leaderboardUsers){ %>
        <div class="row-val"><%= user.tictactoe %></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
